.profile-container {
  max-width: 935px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    display: none;
  }

  .profile-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;

    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .profile-info {
      flex: 1;

      .username {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 10px;
      }
    }
  }

  .view-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;

    .view-button {
      padding: 10px 20px;
      border: none;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
      margin: 0 5px;
      border-radius: 4px;
      transition: background-color 0.3s;

      &.active {
        background-color: #0056b3;
      }

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .change-password,
  .history {
    width: 100%;
  }

  .change-password {
    h2 {
      font-size: 20px;
      color: #333;
      margin-bottom: 10px;
      text-align: left;
      width: 100%;
    }

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        color: #555;
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;

        &:focus {
          border-color: #007bff;
          outline: none;
          box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
      }
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .history {
    h2 {
      font-size: 20px;
      color: #333;
      margin-bottom: 10px;
      text-align: left;
      width: 100%;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      th,
      td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #f8f9fa;
        font-weight: 600;
      }

      tr:hover {
        background-color: #f1f1f1;
      }
    }
  }

  .backButton {
    margin-top: 20px;
    padding: 10px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;

    &:hover {
      background-color: #5a6268;
    }
  }
  .paginate {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
