.admin-container {
  display: flex;
  .admin-sidebar {
    .pro-sidebar {
      height: 100vh;
    }
  }

  .admin-content {
    width: 100%;
    .admin-header {
      height: 60px;
      display: flex;
      justify-content: space-between;
      padding: 16px;
      border-bottom: 1px solid #666;
      .rightside {
        display: flex;
        gap: 15px;
      }
    }
    .admin-main {
      height: calc(100vh - 40px);
    }
  }
}
